@charset "UTF-8";

.header-container{
	width:100%;
	height: 100px;
	margin: 0;
	position: relative;
	font-family: 'Noto Sans KR', sans-serif;
}

a{
	text-decoration: none;
	color: black;
}

#logo{
	display: flex;
	height: 40px; 
	position: absolute;
	top: 30px;
	left: 50px;
	width: 300px;
	font-weight: 300;
	text-decoration: none;
}

#header_ul{
	padding: 0;
	margin: 0;
	width: 700px;
	height: 90px;
	position: absolute;
	left: 350px;
	display: flex;
	box-sizing: content-box;
	justify-content: center;
	list-style:none;
}

.header_li{
	width: auto;
	line-height: 90px;
	font-size: 20px;
	margin: 0 4.0%; 
	font-weight: normal;
}

.search-input{
	 width: 260px; 
	 text-align:left;
	 height: 30px;
	 margin-right:none;
	 border-bottom: 2px solid #4C4C4C;
	 border-top: none;
	 border-left: none;
	 border-right: none;
	 background-color: inherit;
	 position: absolute;
	 right: 140px;
	 top: 30px;
}							  

#search-img{
	cursor:pointer; 
	width:20px; 
	height:20px;
	position: absolute;
	top:35px;
	right:150px;
}	

.header-btn{
	width: 35px;
	height: 35px;
	position: absolute;
	top: 32px;
	right: 30px;
	cursor:pointer;
	display: inline;
}

.header-log{
	width: 37px;
	height: 37px;
}				  

#tit1{
	font-size: 17px;
	margin-left: 10px;
	font-weight: bold;
	line-height: 43px;
}
#tit2{
	margin-left: 5px;
	padding: 0;
	font-size: 30px;
	font-weight: bold;
}

#logo img{
	width: 50px;
	height: 40px;
	position: absolute;
	left: 190px;
}

#mypage-img{
   cursor:pointer; 
   width: 32px; 
   height: 32px;
   position: absolute;
   top:35px;
   right: 80px;
}
				 
				 
				